.git
.github
.DS_Store
**/.DS_Store
**/target
**/node_modules
**/dist
**/.venv
**/venv
**/.pytest_cache
**/__pycache__
**/*.pyc
**/uploads
**/*.log
load-test/results
ml-service/data
ml-service/experiments
ml-service/tests

